* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    /* background-color: purple; */
    border: 2px solid rgba(255 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    /* background-color: yellow; */
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.wrapper .input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255,255,255, 0.25);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding-left: 16px;

}
.wrapper .input-box input::placeholder{
    color: #fff;
}
.wrapper .input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    transform: translateY(50%);
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom:1px ;
    margin-right: 1px;
    margin-left: 1px;
}
.wrapper .remember-forgot input{
    accent-color: white;
}
.wrapper .remember-forgot a{
    color: white;
    text-decoration: none;
}
.wrapper .remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    height: 45px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.wrapper .register-link{
    text-align: center;
    font-size: 14.5px;
    margin-top: 20px;
}
.wrapper .register-link p a{
    text-decoration: none;
    color: #fff;
}
.wrapper .register-link p a:hover{
    text-decoration: underline;
}